%heading {
    font-family: $font-display;
}
.heading-1 {
    @extend %heading;
}

.heading-2 {
    font-size: 5.5rem;
    font-weight: 600;
    text-transform: uppercase;
    @extend %heading;
    color: #292929;

    &--huge {
        &::after {
            display: block;
            height: 2px;
            background-color: $color-primary;
            content: ' ';
            width: 80%;
            margin: 0 auto;
            margin-top: 0.5rem;
        }
    }

    &--small {
        font-size: 2rem;
        color: #9b5762;
        letter-spacing: 5px;
    }
    &--medium {
        font-size: 3.6rem;
        font-style: italic;
        text-transform: none;
        line-height: 1;
    }
}

.heading-3 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    @extend %heading;
}
.heading-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    color: white;
    @extend %heading;
}

p {
    font-size: 2rem;
}

span {
    font-weight: bold;
    margin-right: 5px;
}
a {
    text-decoration: none;
    color: rgb(101, 101, 182);
}
//EMAIL SOCIAL MEMBER BOX
.links:link,
.links:visited {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    font-weight: 300;
}

.btn {
    border: none;
    color: #fff;
    border-radius: 4rem;
    font-family: $font-display;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;

    &__huge {
        background-color: $color-primary;
        font-size: 1.5rem;
        padding: 1.5rem 3rem 1rem;
    }
    &__big {
        background-color: $color-primary-dark;
        padding: 1.3rem 3rem 0.8rem;
        font-size: 1.5rem;
        grid-column: 1 / -1;
        justify-self: center;
    }
    &__small {
        font-size: 1.6rem;
        padding: 1.3rem 2rem 0.8rem 2rem;
        justify-self: center;
        grid-column: 1 / -1;

        &--1 {
            background-image: $bg-1;
        }
        &--2 {
            background-image: $bg-2;
        }
        &--3 {
            background-image: $bg-3;
        }
        &--4 {
            background-image: $bg-4;
        }
        &--5 {
            background-image: $bg-5;
        }
        &--6 {
            background-image: $bg-6;
        }
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $color-primary-dark;
        transform: translateY(-2px);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.08);
    }
}

.mb-vsm {
    margin-bottom: 4px;
}

.mb-sm {
    margin-bottom: 2rem;
}
.mb-md {
    margin-bottom: 3rem;
}
.mb-lg {
    margin-bottom: 4rem;
}
.mb-hg {
    margin-bottom: 8rem;
}

.mt-lg {
    margin-top: 4rem;
}
